@import url("./typography/index.css");

:root {
    --color-white: #F8F9FA;
    --color-black: #262626;
    --color-accent: linear-gradient(84.56deg, #0B5CD6 12.23%, #21AEFC 94.22%);

    --margin-section: clamp(64px, 12.5vw, 128px);
    --margin-xl: 64px;
    --margin-l: 48px;
    --margin-m: 32px;
    --margin-s: 16px;

    --shadow:   0px 0px 16.7px -28px rgba(0, 0, 0, 0.017),
    0px 0px 25.9px -28px rgba(0, 0, 0, 0.03),
    0px 0px 33.5px -28px rgba(0, 0, 0, 0.04),
    0px 0px 40.8px -28px rgba(0, 0, 0, 0.048),
    0px 0px 48.7px -28px rgba(0, 0, 0, 0.053),
    0px 0px 58.1px -28px rgba(0, 0, 0, 0.057),
    0px 0px 70.3px -28px rgba(0, 0, 0, 0.061),
    0px 0px 88.2px -28px rgba(0, 0, 0, 0.068),
    0px 0px 129px -28px rgba(0, 0, 0, 0.09);
}

html {
    background-color: var(--color-white);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--color-black);
}

.h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 151%;
}

.h1.display {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(29px, 6.25vw, 64px);
    line-height: 131%;
}

.h1.bold {
    font-weight: 600;
}

.h1.medium {
    font-weight: 500;
}

.h1.special {
    font-weight: 600;
    line-height: 162%;

    text-align: center;
    background: var(--color-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 151%;
}

.h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 151%;
}

.h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 151%;
}

.h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
}

.p {
    font-style: normal;
    font-weight: 300;
    font-size: clamp(14px, 1.95vw, 16px);
    line-height: 160%;
    font-feature-settings: 'ss01' on;
}

.button-white {
    padding: 12px 22px;
    font-family: 'Lexend';
    font-weight: 400;
    font-size: clamp(14px, 2.08333333333vw, 18px);
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    background: var(--color-white);
    border-radius: 6px;
    color: var(--color-black);
}

.button {
    padding: 12px 22px;
    font-family: 'Lexend';
    font-weight: 400;
    font-size: clamp(14px, 2.08333333333vw, 18px);
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    border-radius: 6px;
    background: var(--color-accent);
    color: var(--color-white);
}

.link {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(14px, 2.08vw, 16px);
    line-height: 26px;
    background: var(--color-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.colored {
    background: var(--color-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.line {
    padding-left: 48px;
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 32px;
    left: 0;
    top: calc(50% - 1px);
    background-color: currentColor;
}