@import url("./typography/index.css");

:root {
    --color-white: #F8F9FA;
    --color-black: #262626;
    --color-accent: linear-gradient(84.56deg, #0B5CD6 12.23%, #21AEFC 94.22%);

    --margin-section: clamp(48px, 12.5vw, 128px);
    --margin-xl: 64px;
    --margin-l: 48px;
    --margin-m: clamp(24px, 4.16vw, 32px);
    --margin-s: 16px;

    --shadow:
        0.3px 0.4px 1px rgba(0, 0, 0, 0.004),
        0.7px 1.1px 2.3px rgba(0, 0, 0, 0.009),
        1.4px 2px 4.4px rgba(0, 0, 0, 0.015),
        2.5px 3.6px 7.8px rgba(0, 0, 0, 0.023),
        4.6px 6.7px 14.6px rgba(0, 0, 0, 0.037),
        11px 16px 35px rgba(0, 0, 0, 0.07);

}

html {
    background-color: var(--color-white);
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--color-black);
}

.h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 151%;
}

.h1.display {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(29px, 6.25vw, 64px);
    line-height: 131%;
}

.h1.bold {
    font-weight: 600;
}

.h1.medium {
    font-weight: 500;
}

.h1.special {
    font-weight: 600;
    line-height: 162%;

    text-align: center;
    background: var(--color-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 151%;
}

.h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 151%;
}

.h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 151%;
}

.h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
}

.p {
    font-style: normal;
    font-weight: 300;
    font-size: clamp(14px, 1.95vw, 16px);
    line-height: 160%;
    font-feature-settings: 'ss01' on;
}

.button-white {
    padding: 12px 22px;
    font-family: 'Lexend';
    font-weight: 400;
    font-size: clamp(14px, 2.08333333333vw, 18px);
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    background: var(--color-white);
    border-radius: 6px;
    color: var(--color-black);
}

.button,
.btn,
.btn-primary {
    padding: 12px 22px;
    font-family: 'Lexend';
    font-weight: 400;
    font-size: clamp(14px, 2.08333333333vw, 18px);
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    border-radius: 6px;
    background: var(--color-accent);
    color: var(--color-white);
}

.link {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(14px, 2.08vw, 16px);
    line-height: 26px;
    background: var(--color-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.colored {
    background: var(--color-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.line {
    padding-left: 48px;
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 32px;
    left: 0;
    top: calc(50% - 1px);
    background-color: currentColor;
}

summary::-webkit-details-marker {
    display: none;
}