@import url("./typography/index.css");

:root {
    --color-white: #F8F9FA;
    --color-black: #262626;
    --color-accent: linear-gradient(84.56deg, #0B5CD6 12.23%, #21AEFC 94.22%);

    --margin-section: clamp(48px, 12.5vw, 128px);
    --margin-xl: 64px;
    --margin-l: 48px;
    --margin-m: clamp(24px, 4.16vw, 32px);
    --margin-s: 16px;

    --shadow: 0px 4px 9px 2px rgba(34, 60, 80, 0.08);

    --toastify-color-progress-success: var(--color-accent) !important;
    --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify .Toastify__toast--success svg{
    fill: #03adfc !important;
}

html {

    background-color: var(--color-white);
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.noScroll {
    overflow: hidden;
    height: 100vh;
}

button {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--color-black);
}

*:focus {
    outline: none;
}

*:focus-visible {
    outline: 2px solid black;
    outline-offset: 4px;
    outline-color: #0B61D6;
}

.no-focus {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}

.no-focus:focus-visible {
    outline: none;
}

a {
    border-radius: 8px;
}

.h1 {
    font-style: normal;
    font-weight: 400;
    font-size: clamp(20px, 3.38vw, 32px);
    line-height: 141%;
}

.h1.display {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(29px, 6.25vw, 64px);
    line-height: 131%;
}

.h1.bold {
    font-weight: 600;
}

.h1.medium {
    font-weight: 500;
}

.h1.special {
    font-weight: 600;
    line-height: 162%;

    text-align: center;
    background: var(--color-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 151%;
}

.h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 151%;
}

.h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 151%;
}

.h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
}

.p {
    font-style: normal;
    font-weight: 300;
    font-size: clamp(14px, 1.95vw, 16px);
    line-height: 160%;
    font-feature-settings: 'ss01' on;
}

.button-white {
    padding: 12px 22px;
    font-family: 'Lexend';
    font-weight: 400;
    font-size: clamp(14px, 2.08333333333vw, 18px);
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    background-color: #fff;
    border-radius: 6px;
    color: var(--color-black);
    transition: background-color .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.button-white:hover {
    background-color: #dfdfdf;
}

.button-white:focus-visible {
    outline-color: #fff;
}

.button,
.btn,
.btn-primary {
    padding: 12px 22px;
    font-family: 'Lexend';
    font-weight: 400;
    font-size: clamp(14px, 2.08333333333vw, 18px);
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    border-radius: 6px;
    background: var(--color-accent);
    color: var(--color-white);
    transition: opacity .2s cubic-bezier(0.39, 0.575, 0.565, 1);
    outline-offset: 4px;
}

.button:focus-visible,
.btn:focus-visible,
.btn-primary:focus-visible {
    outline-color: #0B61D6;
}

.button:hover,
.btn:hover,
.btn-primary:hover {
    opacity: .8;
}

.link {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(14px, 2.08vw, 16px);
    line-height: 150%;
    background: var(--color-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    border-radius: 2px;
    position: relative;
    width: fit-content;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--color-accent);
    transition: width .3s cubic-bezier(0.23, 1, 0.320, 1);
}

.link.active::after {
    width: 40%;

}

.link:hover::after {
    width: 100%;
}

.colored {
    background: var(--color-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.line {
    padding-left: 48px;
    position: relative;
    color: #000;
}

.line::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 32px;
    left: 0;
    top: calc(50% - 1px);
    background-color: currentColor;
}

summary::-webkit-details-marker {
    display: none;
}